<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>現在メンテナンス中です</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>body,html{padding:0;margin:0;width:100%;height:100%;font-family:Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;font-size:1pc;line-height:1.6}*{box-sizing:border-box}h1{font-size:24px;font-weight:700;color:#000;text-align:center;margin:0 auto 24px}h1,img{width:100%}img{display:block}.page-container{width:100%;height:100%;padding:1pc;display:flex;justify-content:center;align-items:center;flex-direction:column;max-width:25pc;margin:auto}.img-wrap{display:block;margin-bottom:24px}.img-wrap.zapid{width:32%;margin-bottom:3pc}.img-wrap.chocozap{width:65.3%}.message{margin:0 auto 24px}.detail-link{display:flex;height:56px;max-width:311px;width:100%;font-weight:700;justify-content:center;align-items:center;color:#122939;border:1px solid #a5a5a5;border-radius:9pt;text-decoration:none}</style>
</head>
<body>
<main class="page-container">
  <span class="img-wrap chocozap">
    <img src="https://${maintenance_assets_domain}/assets/img/logo-chocozap.png" alt="chocozap">
  </span>
  <span class="img-wrap zapid">
    <img src="https://${maintenance_assets_domain}/assets/img/zapid.png" alt="zapid">
  </span>
  <h1>現在メンテナンス中です</h1>
  <p class="message">現在、10月23日（水） 1:00〜2:00にてメンテナンスを行なっています。<br>詳細は下記のボタンよりご確認ください。お客様にはご不便をおかけいたしますが、何卒ご理解とご協力をお願いいたします。</p>
  <a class="detail-link" href="https://chocozap.jp/news/detail?id=498909" target="_blank">詳細はこちら</a>
</main>
</body>
</html>
